<FilesMatch "\.(js|php)$">
	Header set Cache-Control "max-age=5"
</FilesMatch>
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase /js/
	
	RewriteRule script.js suture.php [NC,QSA,L]
	
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.+)$ ../../../lib/radcanon/js/$1 [L]
</IfModule>
