
#wrapper {
	width:800px;
	margin:20px auto;
}

table {
	border-spacing:0;
}

table.autoT {
	border-bottom:1px solid #444;
	border-right:1px solid #444;
	width:100%;
}

table.autoT.nfw {
	width:auto;
}

table.autoT > tbody > tr > td,
table.autoT > tbody > tr > th {
	border-top:1px solid #444;
	border-left:1px solid #444;
	padding:10px;
	font-size:18px;
}

table.autoT > tbody > tr > th {
	background-color:#DDD;
}
