/*
Pallette:
Black: #222
*/

.white-bg {
	background-color:#FFF;
}

.light-green-bg {
	background-color:#BAEB96;
}

.white {
	color:#FFF;
}

.black,
a {
	color:#222;
}

.blue,
a.blue {
	color:#5B9EFB;
}

.green-bg {
	background-color:#A4DB7C;
}

.darker-green {
	color:#8AC561;
}
